Repository nakrovati/ppi-checker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint --fix

feat: add vercel web analytics
  package.json
  pnpm-lock.yaml
  src/routes/+layout.svelte
Due: prettier -w, eslint --fix

fix: @vercel/analytic didn't work without @sveltejs/adapter-vercel
  .gitignore
  package.json
  pnpm-lock.yaml
  svelte.config.js
Due: prettier -w

refactor: separate displays
  src/lib/db/displays.json
  src/lib/db/displays/apple.json
  src/lib/db/displays/lg.json
  src/lib/db/displays/samsung.json
  src/lib/db/index.ts
Due: prettier -w, eslint --fix

chore: add more displays
  src/lib/db/displays/alienware.json
  src/lib/db/displays/dell.json
  src/lib/db/displays/samsung.json
  src/lib/db/index.ts
Due: prettier -w, eslint --fix

fix: MonitorSearchModal margin
  src/lib/components/MonitorSearchModal.svelte
  src/routes/+layout.svelte
  tailwind.config.js
Due: prettier -w, eslint --fix

feat: add display compatibility chart
  src/lib/components/OSCompatibilityTable.svelte
  src/lib/components/OSCompatibilityTableItem.svelte
  src/lib/icons/PhCheckBold.svelte
  src/lib/utils/compatibilityChecker.ts
  src/lib/utils/evaluatePPI.ts
  src/lib/utils/index.ts
  src/routes/monitors/[monitor]/+page.svelte
Due: prettier -w, eslint --fix

docs: add README
  README.md
Due: prettier -w

fix: PageServerLoad import
  src/routes/monitors/[monitor]/+page.server.ts
Due: prettier -w, eslint --fix

chore: extend .gitignore
  .gitignore
Due: none

styles: small updates
  src/lib/components/MonitorSearchModal.svelte
  src/lib/components/layout/Header.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
Due: prettier -w, eslint --fix

chore: bump deps
  package.json
  pnpm-lock.yaml
Due: prettier -w

fix: eslint errors
  src/lib/components/MonitorSearchModal.svelte
  src/lib/components/MonitorSearchModalItem.svelte
  src/lib/components/OSCompatibilityTable.svelte
  src/lib/components/layout/Header.svelte
  src/lib/components/ui/Input.svelte
  src/lib/icons/PhCheckBold.svelte
  src/lib/icons/PhMagnifyingGlassBold.svelte
  src/lib/icons/PhXBold.svelte
  src/routes/+page.svelte
  src/routes/monitors/[monitor]/+page.svelte
Due: prettier -w, eslint --fix

chore: bump deps
  package.json
  pnpm-lock.yaml
  src/lib/trpc/router.ts
Due: prettier -w, eslint --fix

fix: modal window is not visible in safari
  src/lib/components/MonitorSearchModal.svelte
Due: prettier -w, eslint --fix

chore: minor styles improvements
  src/lib/components/MonitorSearchModal.svelte
  src/lib/components/OSCompatibilityTable.svelte
  src/lib/components/PPICalculator.svelte
  src/routes/+page.svelte
  src/routes/monitors/[monitor]/+page.svelte
Due: prettier -w, eslint --fix

fix: missing files due to git case sensitivity
  src/lib/components/OsCompatibilityTable.svelte
  src/lib/components/OsCompatibilityTableItem.svelte
  src/lib/components/PpiCalculator.svelte
Due: prettier -w, eslint --fix

chore: migrate to bun
  bun.lockb
  package.json
  pnpm-lock.yaml
Due: prettier -w

chore: set 'trailingComma' to 'all'
  .prettierrc.json
Due: prettier -w

style: format code
  src/lib/components/layout/Footer.svelte
  src/routes/monitors/[monitor]/+error.svelte
Due: prettier -w, eslint --fix

refactor: simplify trpc router
  src/lib/components/MonitorSearchModal.svelte
  src/lib/trpc/router.ts
  src/lib/trpc/routes/monitors.ts
  src/lib/trpc/t.ts
Due: prettier -w, eslint --fix

chore: bump deps
  bun.lockb
  package.json
  svelte.config.js
Due: prettier -w

fix: pnpm not found in husky pre-commit hook
  .husky/pre-commit
Due: none

fix: redirect did not occur if the monitor was not found
  src/routes/monitors/[monitor]/+page.server.ts
Due: prettier -w, eslint --fix

chore: replace the current tsconfig configuration with the one from sveltekit v2.
  tsconfig.json
Due: prettier -w

chore: improve eslint & prettier configs
  .prettierignore
  eslint.config.js
  package.json
Due: prettier -w

chore: bump deps
  .husky/pre-commit
  .prettierrc.json
  bun.lockb
  eslint.config.js
  package.json
  postcss.config.cjs
  postcss.config.js
  prettier.config.js
Due: prettier -w

refactor: project architecture
  src/hooks.server.ts
  src/lib/components/OsCompatibilityTableItem.svelte
  src/lib/components/layout/Header.svelte
  src/lib/icons/PhXBold.svelte
  src/lib/modules/MonitorSearchModal/components/MonitorSearchModal.svelte
  src/lib/modules/MonitorSearchModal/components/MonitorSearchModalItem.svelte
  src/lib/modules/MonitorSearchModal/index.ts
  src/lib/modules/OsCompatibilityTable/components/OsCompatibilityTable.svelte
  src/lib/modules/OsCompatibilityTable/components/OsCompatibilityTableItem.svelte
  src/lib/modules/OsCompatibilityTable/index.ts
  src/lib/modules/PpiCalculatorForm/components/PpiCalculatorForm.svelte
  src/lib/modules/PpiCalculatorForm/index.ts
  src/lib/shared/assets/icons/Check.svelte
  src/lib/shared/assets/icons/MagnifyingGlass.svelte
  src/lib/shared/assets/icons/X.svelte
  src/lib/shared/assets/icons/index.ts
  src/lib/shared/services/db/displays/alienware.json
  src/lib/shared/services/db/displays/apple.json
  src/lib/shared/services/db/displays/dell.json
  src/lib/shared/services/db/displays/lg.json
  src/lib/shared/services/db/displays/samsung.json
  src/lib/shared/services/db/index.ts
  src/lib/shared/services/trpc/client.ts
  src/lib/shared/services/trpc/context.ts
  src/lib/shared/services/trpc/router.ts
  src/lib/shared/services/trpc/routes/monitors.ts
  src/lib/shared/services/trpc/t.ts
  src/lib/shared/utils/calculateAspectRatio.ts
  src/lib/shared/utils/calculatePPI.ts
  src/lib/shared/utils/compatibilityChecker.ts
  src/lib/shared/utils/evaluatePPI.ts
  src/lib/shared/utils/index.ts
  src/lib/shared/utils/round.ts
  src/lib/types/models.ts
  src/routes/+page.svelte
  src/routes/monitors/[monitor]/+page.server.ts
  src/routes/monitors/[monitor]/+page.svelte
Due: prettier -w, eslint --fix

chore: add svelte build check to husky pre-commit hook
  .husky/pre-commit
Due: none

refactor: little improvements
  src/lib/modules/OsCompatibilityTable/components/OsCompatibilityTable.svelte
  src/lib/modules/OsCompatibilityTable/helpers/compatibilityChecker.ts
  src/lib/modules/OsCompatibilityTable/utils/evaluatePPI.ts
  src/lib/modules/OsCompatibilityTable/utils/index.ts
  src/lib/shared/utils/calculatePPI.ts
  src/lib/shared/utils/compatibilityChecker.ts
  src/lib/shared/utils/index.ts
  src/lib/shared/utils/round.ts
Due: prettier -w, eslint --fix

chore: add eslint-plugin-unicorn
  bun.lockb
  eslint.config.js
  package.json
  src/lib/modules/MonitorSearchModal/components/MonitorSearchModal.svelte
  src/lib/modules/OsCompatibilityTable/utils/evaluatePpi.ts
  src/lib/modules/OsCompatibilityTable/utils/index.ts
  src/lib/modules/PpiCalculatorForm/components/PpiCalculatorForm.svelte
  src/lib/shared/utils/calculateAspectRatio.ts
  src/lib/shared/utils/calculatePpi.ts
  src/lib/shared/utils/index.ts
Due: prettier -w, eslint --fix

fix: routes/[monitor] `load` types
  src/routes/monitors/[monitor]/+page.server.ts
Due: prettier -w, eslint --fix

ci: ignore husky init
  package.json
Due: prettier -w

chore: add path alias for icons
  src/lib/components/layout/Header.svelte
  src/lib/modules/MonitorSearchModal/components/MonitorSearchModal.svelte
  src/lib/modules/OsCompatibilityTable/components/OsCompatibilityTableItem.svelte
  svelte.config.js
Due: prettier -w, eslint --fix

refactor: use melt-ui for dialog
  bun.lockb
  package.json
  src/app.css
  src/lib/components/layout/Header.svelte
  src/lib/components/ui/Button.svelte
  src/lib/components/ui/Dialog.svelte
  src/lib/modules/MonitorSearchModal/components/MonitorSearchModal.svelte
  src/lib/shared/utils/cn.ts
  src/lib/shared/utils/index.ts
Due: prettier -w, eslint --fix

chore: add transitions to dialog
  src/lib/components/ui/Dialog.svelte
Due: prettier -w, eslint --fix

Path conditions:
  prettier -w: (any of: *.{html,md,yml,yaml,json}) or (any of: *.{(c)js,ts,svelte})
  eslint --fix: any of: *.{(c)js,ts,svelte}
